<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <a href="#" class="list-group-item">Purchase</a>
        <a href="#" class="list-group-item">Withdrawal</a>
        <!-- more transaction types -->
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <a href="#" class="list-group-item">Restaurants</a>
        <a href="#" class="list-group-item">Car</a>
        <!-- more categories  -->
      </div>
    </div>
    <div class="col-md-9 index-data">
      <%= render 'index_data' %>
    </div>
  </div>
</div>
