<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <% Expense.types.keys.each do |type| %>
          <%= link_to_type(type) %>
        <% end %>
      </div>

      <h4 class="filter-header">Category <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <% Category.all.each do |category| %>
          <%= link_to_category(category) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 index-data">
      <%= render 'index_data' %>
    </div>
  </div>
</div>
